<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq9Tx0RGOiVtBVGAZq8E1siFLAzplyWDo">
</script>


<div ng-controller="centerCtrl" ng-init="setup()">
<input type="text" ng-model="searchValue">
<button ng-click="search()"> SEARCH</button>
  
<style>
  #map {
    height: 500px;
    width: 1000px;
    margin: 100px;
    padding: 50px;
  }
</style>

<div id="map"></div>


<h1>Day Care Listing will go here</h1>

<div ng-repeat="c in centers">
  <h4><a href="centers/{{c.id}}">{{c.business_name || c.name}}</a></h4>
  <h5>{{c.address}}</h5>
  <h5>{{c.city}}, {{c.state}}</h5>
  <h5>{{c.zip_code}}</h5>
  <h5>{{c.latitude}}</h5>
  <h5>{{c.longitude}}</h5>
  <hr>
</div>

</div>
