    <div class="header">
      <div class="container">
        <!-- Logo -->
        <a class="logo" href="/centers">
          <img src="https://bfb89515afffff903eb7a381cf5e58e24a620c1b-www.googledrive.com/host/0B09DNIgcGom_b1hxS2JnYXBiWFk/Drawing.png" alt="Logo" height="50" width="75">
        </a>
        <!-- End Logo -->

        <!-- Topbar -->
        <div class="topbar">
          <ul class="loginbar pull-right">
            <!-- <li class="topbar-devider"></li> -->
            <li><%= link_to "Sign Up", "/users/sign_up" unless user_signed_in? %></li>
            <!-- <li class="topbar-devider"></li> -->
            <li><%= link_to "Sign In", "/users/sign_in" unless user_signed_in? %></li>
            <!-- <li class="topbar-devider"></li> -->
            <li><%= link_to "Sign Out", "/users/sign_out", method: :delete if user_signed_in? %></li>
          </ul>
        </div>
        <!-- End Topbar -->

        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
      </div><!--/end container-->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
          <ul class="nav navbar-nav">
            <!-- Home -->
            <li class="dropdown active">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Home</a>
              <ul class="dropdown-menu">
                <li class="active"><a href="/centers">Home Page</a></li>

                <li><a href="page_home8.html">Option 5: Home Discover</a></li>
                <li><a href="page_home14.html">Option 6: Home Incredible</a></li>
              </ul>
            </li>
            <!-- End Home -->

            <!-- Features -->
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                Neighborhoods
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a href="javascript:void(0);">Headers</a>
                  <ul class="dropdown-menu">
                    <li><a href="feature_header_default.html">Header Default</a></li>
                    <li><a href="feature_header_default_no_topbar.html">Header Default without Topbar</a></li>
                    <li><a href="feature_header_default_centered.html">Header Default Centered</a></li>
                    <li><a href="feature_header_default_fixed.html">Header Default Fixed (Sticky)</a></li>
                    <li><a href="feature_header_default_login_popup.html">Header Default Login Popup</a></li>
                    <li><a href="feature_header_v1.html">Header v1</a></li>
                    <li><a href="feature_header_v2.html">Header v2</a></li>
                    <li><a href="feature_header_v3.html">Header v3</a></li>
                    <li><a href="feature_header_v4.html">Header v4</a></li>
                    <li><a href="feature_header_v4_logo_centered.html">Header v4 Centered Logo</a></li>
                    <li><a href="feature_header_v5.html">Header v5</a></li>
                    <li><a href="feature_header_v6_transparent.html">Header v6 Transparent</a></li>
                    <li><a href="feature_header_v6_semi_dark_transparent.html">Header v6 Dark Transparent</a></li>
                    <li><a href="feature_header_v6_semi_white_transparent.html">Header v6 White Transparent</a></li>
                    <li><a href="feature_header_v6_border_bottom.html">Header v6 Border Bottom</a></li>
                    <li><a href="feature_header_v6_classic_dark.html">Header v6 Classic Dark</a></li>
                    <li><a href="feature_header_v6_classic_white.html">Header v6 Classic White</a></li>
                    <li><a href="feature_header_v6_dark_dropdown.html">Header v6 Dark Dropdown</a></li>
                    <li><a href="feature_header_v6_dark_scroll.html">Header v6 Dark on Scroll</a></li>
                    <li><a href="feature_header_v6_dark_search.html">Header v6 Dark Search</a></li>
                    <li><a href="feature_header_v6_dark_res_nav.html">Header v6 Dark in Responsive</a></li>
                    <li><a href="page_home12.html">Header v7 Left Sidebar</a></li>
                    <li><a href="page_home13.html">Header v7 Right Sidebar</a></li>
                    <li><a href="feature_header_v8.html">Header v8</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a href="javascript:void(0);">Footers</a>
                  <ul class="dropdown-menu">
                    <li><a href="feature_footer_default.html#footer-default">Footer Default</a></li>
                    <li><a href="feature_footer_v1.html#footer-v1">Footer v1</a></li>
                    <li><a href="feature_footer_v2.html#footer-v2">Footer v2</a></li>
                    <li><a href="feature_footer_v3.html#footer-v3">Footer v3</a></li>
                    <li><a href="feature_footer_v4.html#footer-v4">Footer v4</a></li>
                    <li><a href="feature_footer_v5.html#footer-v5">Footer v5</a></li>
                    <li><a href="feature_footer_v6.html#footer-v6">Footer v6</a></li>
                    <li><a href="feature_footer_v7.html#footer-v7">Footer v7</a></li>
                    <li><a href="feature_footer_v8.html#footer-v8">Footer v8</a></li>
                  </ul>
                </li>
                <li><a href="feature_gallery.html">Gallery Examples</a></li>
                <li><a href="feature_animations.html">Animations on Scroll</a></li>
                <li><a href="feature_parallax_counters.html">Parallax Counters</a></li>
                <li><a href="feature_testimonials_quotes.html">Testimonials and Quotes</a></li>
                <li><a href="feature_icon_blocks.html">Icon Blocks</a></li>
                <li><a href="feature_team_blocks.html">Team Blocks</a></li>
                <li><a href="feature_news_blocks.html">News Blocks</a></li>
                <li><a href="feature_parallax_blocks.html">Parallax Blocks</a></li>
                <li><a href="feature_funny_boxes.html">Funny Boxes</a></li>
                <li><a href="feature_call_to_actions.html">Call To Action</a></li>
              </ul>
            </li>
            <!-- End Features -->

            <!-- Shortcodes -->
            <li class="dropdown mega-menu-fullwidth">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                Zip Codes
              </a>
              <ul class="dropdown-menu">
                <li>
                  <div class="mega-menu-content disable-icons">
                    <div class="container">
                      <div class="row equal-height">
                        <div class="col-md-3 equal-height-in">
                          <ul class="list-unstyled equal-height-list">
                            <li><h3>ZIP Codes 60601-60615</h3></li>
                            <li><a href="/centers?zip_code=60601"><i class="fa fa-bars"></i> 60601</a></li>
                            <li><a href="/centers?zip_code=60602"><i class="fa fa-bars"></i> 60602</a></li>
                            <li><a href="/centers?zip_code=60603"><i class="fa fa-bars"></i> 60603</a></li>
                            <li><a href="/centers?zip_code=60604"><i class="fa fa-bars"></i> 60604</a></li>
                            <li><a href="/centers?zip_code=60605"><i class="fa fa-bars"></i> 60605</a></li>
                            <li><a href="/centers?zip_code=60606"><i class="fa fa-bars"></i> 60606</a></li>
                            <li><a href="/centers?zip_code=60607"><i class="fa fa-bars"></i> 60607</a></li>
                            <li><a href="/centers?zip_code=60608"><i class="fa fa-bars"></i> 60608</a></li>
                            <li><a href="/centers?zip_code=60609"><i class="fa fa-bars"></i> 60609</a></li>
                            <li><a href="/centers?zip_code=60610"><i class="fa fa-bars"></i> 60610</a></li>
                            <li><a href="/centers?zip_code=60611"><i class="fa fa-bars"></i> 60611</a></li>
                            <li><a href="/centers?zip_code=60612"><i class="fa fa-bars"></i> 60612</a></li>
                            <li><a href="/centers?zip_code=60613"><i class="fa fa-bars"></i> 60613</a></li>
                            <li><a href="/centers?zip_code=60614"><i class="fa fa-bars"></i> 60614</a></li>
                            <li><a href="/centers?zip_code=60615"><i class="fa fa-bars"></i> 60615</a></li>
                          </ul>
                        </div>
                        <div class="col-md-3 equal-height-in">
                          <ul class="list-unstyled equal-height-list">
                            <li><h3>ZIP Codes 60616-60630</h3></li>
                            <li><a href="/centers?zip_code=60616"><i class="fa fa-bars"></i> 60616</a></li>
                            <li><a href="/centers?zip_code=60617"><i class="fa fa-bars"></i> 60617</a></li>
                            <li><a href="/centers?zip_code=60618"><i class="fa fa-bars"></i> 60618</a></li>
                            <li><a href="/centers?zip_code=60619"><i class="fa fa-bars"></i> 60619</a></li>
                            <li><a href="/centers?zip_code=60620"><i class="fa fa-bars"></i> 60620</a></li>
                            <li><a href="/centers?zip_code=60621"><i class="fa fa-bars"></i> 60621</a></li>
                            <li><a href="/centers?zip_code=60622"><i class="fa fa-bars"></i> 60622</a></li>
                            <li><a href="/centers?zip_code=60623"><i class="fa fa-bars"></i> 60623</a></li>
                            <li><a href="/centers?zip_code=60624"><i class="fa fa-bars"></i> 60624</a></li>
                            <li><a href="/centers?zip_code=60625"><i class="fa fa-bars"></i> 60625</a></li>
                            <li><a href="/centers?zip_code=60626"><i class="fa fa-bars"></i> 60626</a></li>
                            <li><a href="/centers?zip_code=60627"><i class="fa fa-bars"></i> 60627</a></li>
                            <li><a href="/centers?zip_code=60628"><i class="fa fa-bars"></i> 60628</a></li>
                            <li><a href="/centers?zip_code=60629"><i class="fa fa-bars"></i> 60629</a></li>
                            <li><a href="/centers?zip_code=60630"><i class="fa fa-bars"></i> 60630</a></li>
                          </ul>
                        </div>
                        <div class="col-md-3 equal-height-in">
                          <ul class="list-unstyled equal-height-list">
                            <li><h3>ZIP Codes 60631-60645</h3></li>
                            <li><a href="/centers?zip_code=60631"><i class="fa fa-bars"></i> 60631</a></li>
                            <li><a href="/centers?zip_code=60632"><i class="fa fa-bars"></i> 60632</a></li>
                            <li><a href="/centers?zip_code=60633"><i class="fa fa-bars"></i> 60633</a></li>
                            <li><a href="/centers?zip_code=60634"><i class="fa fa-bars"></i> 60634</a></li>
                            <li><a href="/centers?zip_code=60635"><i class="fa fa-bars"></i> 60635</a></li>
                            <li><a href="/centers?zip_code=60636"><i class="fa fa-bars"></i> 60636</a></li>
                            <li><a href="/centers?zip_code=60637"><i class="fa fa-bars"></i> 60637</a></li>
                            <li><a href="/centers?zip_code=60638"><i class="fa fa-bars"></i> 60638</a></li>
                            <li><a href="/centers?zip_code=60639"><i class="fa fa-bars"></i> 60639</a></li>
                            <li><a href="/centers?zip_code=60640"><i class="fa fa-bars"></i> 60640</a></li>
                            <li><a href="/centers?zip_code=60641"><i class="fa fa-bars"></i> 60641</a></li>
                            <li><a href="/centers?zip_code=60642"><i class="fa fa-bars"></i> 60642</a></li>
                            <li><a href="/centers?zip_code=60643"><i class="fa fa-bars"></i> 60643</a></li>
                            <li><a href="/centers?zip_code=60644"><i class="fa fa-bars"></i> 60644</a></li>
                            <li><a href="/centers?zip_code=60645"><i class="fa fa-bars"></i> 60645</a></li>
                          </ul>
                        </div>
                        <div class="col-md-3 equal-height-in">
                          <ul class="list-unstyled equal-height-list">
                            <li><h3>ZIP Codes 60646-60660</h3></li>
                            <li><a href="/centers?zip_code=60646"><i class="fa fa-bars"></i> 60646</a></li>
                            <li><a href="/centers?zip_code=60647"><i class="fa fa-bars"></i> 60647</a></li>
                            <li><a href="/centers?zip_code=60648"><i class="fa fa-bars"></i> 60648</a></li>
                            <li><a href="/centers?zip_code=60649"><i class="fa fa-bars"></i> 60649</a></li>
                            <li><a href="/centers?zip_code=60650"><i class="fa fa-bars"></i> 60650</a></li>
                            <li><a href="/centers?zip_code=60651"><i class="fa fa-bars"></i> 60651</a></li>
                            <li><a href="/centers?zip_code=60652"><i class="fa fa-bars"></i> 60652</a></li>
                            <li><a href="/centers?zip_code=60653"><i class="fa fa-bars"></i> 60653</a></li>
                            <li><a href="/centers?zip_code=60654"><i class="fa fa-bars"></i> 60654</a></li>
                            <li><a href="/centers?zip_code=60655"><i class="fa fa-bars"></i> 60655</a></li>
                            <li><a href="/centers?zip_code=60656"><i class="fa fa-bars"></i> 60656</a></li>
                            <li><a href="/centers?zip_code=60657"><i class="fa fa-bars"></i> 60657</a></li>
                            <li><a href="/centers?zip_code=60658"><i class="fa fa-bars"></i> 60658</a></li>
                            <li><a href="/centers?zip_code=60659"><i class="fa fa-bars"></i> 60659</a></li>
                            <li><a href="/centers?zip_code=60660"><i class="fa fa-bars"></i> 60660</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <!-- End Shortcodes -->

            <!-- Demo Pages -->
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                Programs
              </a>
              <ul class="dropdown-menu pull-right">
                <% Program.all.each do |program| %>
              <li><%= link_to program.name.titleize, "/centers?program=#{program.name}" %></li>
            <% end %>
              </ul>
            </li>
            <!-- End Demo Pages -->

            <!-- Search Block -->
            <li>
            
              <i class="search fa fa-search search-btn"></i>
              <div class="search-open">
                <div class="input-group animated fadeInDown">
                  <input type="text" class="form-control" placeholder="Search" ng-model="searchValue">
                  <span class="input-group-btn">
                    <button class="btn-u" type="button" ng-click="search()">Go</button>
                  </span>
                </div>
              </div>
            </li>
            <!-- End Search Block -->
          </ul>
        </div><!--/end container-->
      </div><!--/navbar-collapse-->
    </div>