    <div class="header">
      <div class="container">
        <!-- Logo -->
        <a class="logo" href="/centers">
          <img src="https://bfb89515afffff903eb7a381cf5e58e24a620c1b-www.googledrive.com/host/0B09DNIgcGom_b1hxS2JnYXBiWFk/Drawing.png" alt="Logo" height="60" width="85">
        </a>
        <!-- End Logo -->

        <!-- Topbar -->
        <div class="topbar">
          <ul class="loginbar pull-right">
            <!-- <li class="topbar-devider"></li> -->
            <li><%= link_to "Sign Up", "/users/sign_up" unless user_signed_in? %></li>
            <!-- <li class="topbar-devider"></li> -->
            <li><%= link_to "Sign In", "/users/sign_in" unless user_signed_in? %></li>
            <!-- <li class="topbar-devider"></li> -->
            <li><%= link_to "Sign Out", "/users/sign_out", method: :delete if user_signed_in? %></li>
          </ul>
        </div>
        <!-- End Topbar -->

        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
      </div><!--/end container-->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
          <ul class="nav navbar-nav">
            <!-- Home -->
            <li class="dropdown active">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Home</a>
              <ul class="dropdown-menu">
                <li class="active"><a href="/centers">Home Page</a></li>
              </ul>
            </li>
            <!-- End Home -->
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                Neighborhoods
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a href="javascript:void(0);">Northside</a>
                  <ul class="dropdown-menu">
                    <li><a href="feature_header_v8.html">Logan Square</a></li>
                    <li><a href="feature_header_v8.html">Wicker Park</a></li>
                    <li><a href="feature_header_v8.html">Lincoln Square</a></li>
                    <li><a href="feature_header_v8.html">North Center</a></li>
                    <li><a href="feature_header_v8.html">Albany Park</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a href="javascript:void(0);">Southside</a>
                  <ul class="dropdown-menu">
                    <li><a href="feature_header_v8.html">Bridgeport</a></li>
                    <li><a href="feature_header_v8.html">Pilsen</a></li>
                    <li><a href="feature_header_v8.html">Bronzeville</a></li>
                    <li><a href="feature_header_v8.html">Hyde Park</a></li>
                    <li><a href="feature_header_v8.html">South Shore</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a href="javascript:void(0);">Westside</a>
                  <ul class="dropdown-menu">
                    <li><a href="feature_header_v8.html">Humboldt Park</a></li>
                    <li><a href="feature_header_v8.html">Austin</a></li>
                    <li><a href="feature_header_v8.html">Garfield Park</a></li>
                    <li><a href="feature_header_v8.html">North Lawndale</a></li>
                    <li><a href="feature_header_v8.html">South Lawndale</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a href="javascript:void(0);">Central</a>
                  <ul class="dropdown-menu">
                    <li><a href="feature_header_v8.html">Loop</a></li>
                    <li><a href="feature_header_v8.html">River North</a></li>
                    <li><a href="feature_header_v8.html">Streeterville</a></li>
                    <li><a href="feature_header_v8.html">West Loop</a></li>
                    <li><a href="feature_header_v8.html">South Loop</a></li>
                  </ul>
                </li>
              </ul>
            </li>

            <!-- Shortcodes -->
            <li class="dropdown mega-menu-fullwidth">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                Zip Codes
              </a>
              <ul class="dropdown-menu">
                <li>
                  <div class="mega-menu-content disable-icons">
                    <div class="container">
                      <div class="row equal-height">
                        <div class="col-md-3 equal-height-in">
                          <ul class="list-unstyled equal-height-list">
                            <li><h3>ZIP Codes 60601-60615</h3></li>
                            <li><a href="/centers?zip_code=60601"><i class="fa fa-bars"></i> 60601</a></li>
                            <li><a href="/centers?zip_code=60602"><i class="fa fa-bars"></i> 60602</a></li>
                            <li><a href="/centers?zip_code=60603"><i class="fa fa-bars"></i> 60603</a></li>
                            <li><a href="/centers?zip_code=60604"><i class="fa fa-bars"></i> 60604</a></li>
                            <li><a href="/centers?zip_code=60605"><i class="fa fa-bars"></i> 60605</a></li>
                            <li><a href="/centers?zip_code=60606"><i class="fa fa-bars"></i> 60606</a></li>
                            <li><a href="/centers?zip_code=60607"><i class="fa fa-bars"></i> 60607</a></li>
                            <li><a href="/centers?zip_code=60608"><i class="fa fa-bars"></i> 60608</a></li>
                            <li><a href="/centers?zip_code=60609"><i class="fa fa-bars"></i> 60609</a></li>
                            <li><a href="/centers?zip_code=60610"><i class="fa fa-bars"></i> 60610</a></li>
                            <li><a href="/centers?zip_code=60611"><i class="fa fa-bars"></i> 60611</a></li>
                            <li><a href="/centers?zip_code=60612"><i class="fa fa-bars"></i> 60612</a></li>
                            <li><a href="/centers?zip_code=60613"><i class="fa fa-bars"></i> 60613</a></li>
                            <li><a href="/centers?zip_code=60614"><i class="fa fa-bars"></i> 60614</a></li>
                            <li><a href="/centers?zip_code=60615"><i class="fa fa-bars"></i> 60615</a></li>
                          </ul>
                        </div>
                        <div class="col-md-3 equal-height-in">
                          <ul class="list-unstyled equal-height-list">
                            <li><h3>ZIP Codes 60616-60630</h3></li>
                            <li><a href="/centers?zip_code=60616"><i class="fa fa-bars"></i> 60616</a></li>
                            <li><a href="/centers?zip_code=60617"><i class="fa fa-bars"></i> 60617</a></li>
                            <li><a href="/centers?zip_code=60618"><i class="fa fa-bars"></i> 60618</a></li>
                            <li><a href="/centers?zip_code=60619"><i class="fa fa-bars"></i> 60619</a></li>
                            <li><a href="/centers?zip_code=60620"><i class="fa fa-bars"></i> 60620</a></li>
                            <li><a href="/centers?zip_code=60621"><i class="fa fa-bars"></i> 60621</a></li>
                            <li><a href="/centers?zip_code=60622"><i class="fa fa-bars"></i> 60622</a></li>
                            <li><a href="/centers?zip_code=60623"><i class="fa fa-bars"></i> 60623</a></li>
                            <li><a href="/centers?zip_code=60624"><i class="fa fa-bars"></i> 60624</a></li>
                            <li><a href="/centers?zip_code=60625"><i class="fa fa-bars"></i> 60625</a></li>
                            <li><a href="/centers?zip_code=60626"><i class="fa fa-bars"></i> 60626</a></li>
                            <li><a href="/centers?zip_code=60627"><i class="fa fa-bars"></i> 60627</a></li>
                            <li><a href="/centers?zip_code=60628"><i class="fa fa-bars"></i> 60628</a></li>
                            <li><a href="/centers?zip_code=60629"><i class="fa fa-bars"></i> 60629</a></li>
                            <li><a href="/centers?zip_code=60630"><i class="fa fa-bars"></i> 60630</a></li>
                          </ul>
                        </div>
                        <div class="col-md-3 equal-height-in">
                          <ul class="list-unstyled equal-height-list">
                            <li><h3>ZIP Codes 60631-60645</h3></li>
                            <li><a href="/centers?zip_code=60631"><i class="fa fa-bars"></i> 60631</a></li>
                            <li><a href="/centers?zip_code=60632"><i class="fa fa-bars"></i> 60632</a></li>
                            <li><a href="/centers?zip_code=60633"><i class="fa fa-bars"></i> 60633</a></li>
                            <li><a href="/centers?zip_code=60634"><i class="fa fa-bars"></i> 60634</a></li>
                            <li><a href="/centers?zip_code=60635"><i class="fa fa-bars"></i> 60635</a></li>
                            <li><a href="/centers?zip_code=60636"><i class="fa fa-bars"></i> 60636</a></li>
                            <li><a href="/centers?zip_code=60637"><i class="fa fa-bars"></i> 60637</a></li>
                            <li><a href="/centers?zip_code=60638"><i class="fa fa-bars"></i> 60638</a></li>
                            <li><a href="/centers?zip_code=60639"><i class="fa fa-bars"></i> 60639</a></li>
                            <li><a href="/centers?zip_code=60640"><i class="fa fa-bars"></i> 60640</a></li>
                            <li><a href="/centers?zip_code=60641"><i class="fa fa-bars"></i> 60641</a></li>
                            <li><a href="/centers?zip_code=60642"><i class="fa fa-bars"></i> 60642</a></li>
                            <li><a href="/centers?zip_code=60643"><i class="fa fa-bars"></i> 60643</a></li>
                            <li><a href="/centers?zip_code=60644"><i class="fa fa-bars"></i> 60644</a></li>
                            <li><a href="/centers?zip_code=60645"><i class="fa fa-bars"></i> 60645</a></li>
                          </ul>
                        </div>
                        <div class="col-md-3 equal-height-in">
                          <ul class="list-unstyled equal-height-list">
                            <li><h3>ZIP Codes 60646-60660</h3></li>
                            <li><a href="/centers?zip_code=60646"><i class="fa fa-bars"></i> 60646</a></li>
                            <li><a href="/centers?zip_code=60647"><i class="fa fa-bars"></i> 60647</a></li>
                            <li><a href="/centers?zip_code=60648"><i class="fa fa-bars"></i> 60648</a></li>
                            <li><a href="/centers?zip_code=60649"><i class="fa fa-bars"></i> 60649</a></li>
                            <li><a href="/centers?zip_code=60650"><i class="fa fa-bars"></i> 60650</a></li>
                            <li><a href="/centers?zip_code=60651"><i class="fa fa-bars"></i> 60651</a></li>
                            <li><a href="/centers?zip_code=60652"><i class="fa fa-bars"></i> 60652</a></li>
                            <li><a href="/centers?zip_code=60653"><i class="fa fa-bars"></i> 60653</a></li>
                            <li><a href="/centers?zip_code=60654"><i class="fa fa-bars"></i> 60654</a></li>
                            <li><a href="/centers?zip_code=60655"><i class="fa fa-bars"></i> 60655</a></li>
                            <li><a href="/centers?zip_code=60656"><i class="fa fa-bars"></i> 60656</a></li>
                            <li><a href="/centers?zip_code=60657"><i class="fa fa-bars"></i> 60657</a></li>
                            <li><a href="/centers?zip_code=60658"><i class="fa fa-bars"></i> 60658</a></li>
                            <li><a href="/centers?zip_code=60659"><i class="fa fa-bars"></i> 60659</a></li>
                            <li><a href="/centers?zip_code=60660"><i class="fa fa-bars"></i> 60660</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <!-- End Shortcodes -->

            <!-- Demo Pages -->
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                Programs
              </a>
              <ul class="dropdown-menu pull-right">
                <% Program.all.each do |program| %>
              <li><%= link_to program.name.titleize, "/centers?program=#{program.name}" %></li>
            <% end %>
              </ul>
            </li>
            <!-- End Demo Pages -->

            <!-- Search Block -->
            <li>
            
              <i class="search fa fa-search search-btn"></i>
              <div class="search-open">
                <div class="input-group animated fadeInDown">
                  <input type="text" class="form-control" placeholder="Search" ng-model="searchValue">
                  <span class="input-group-btn">
                    <button class="btn-u" type="button" ng-click="search()">Go</button>
                  </span>
                </div>
              </div>
            </li>
            <!-- End Search Block -->
          </ul>
        </div><!--/end container-->
      </div><!--/navbar-collapse-->
    </div>