<!DOCTYPE html>
<html>
<head>
  <title>Daycare Playground</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="wrapper">
		<!--=== Header ===-->

		<!--=== End Header ===-->
    <div ng-app="app">
      
      <%= yield %>
    </div>


			<!-- Recent Works -->
			<div class="headline"><h2>Other Child Care Centers</h2></div>
			<div class="row margin-bottom-20">

			<% 6.times do %>
			<div class="col-md-4 col-sm-4">
				<div class="thumbnails thumbnail-style thumbnail-kenburn">
					<div class="thumbnail-img">
						<div class="overflow-hidden">
							<img class="img-responsive" src="https://bfb89515afffff903eb7a381cf5e58e24a620c1b-www.googledrive.com/host/0B09DNIgcGom_b1hxS2JnYXBiWFk/Drawing.png" alt="Logo" height="50" width="75">
						</div>
					</div>
					<div class="caption">
						<h3><a class="hover-effect" href="#"></a></h3>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
					</div>
				</div>
			</div>
			<% end %>

			</div>
			<!-- End Recent Works -->

			<!-- Info Blocks -->
			<div class="row margin-bottom-30">
	
	
				
				</div><!--/col-md-4-->
			</div>
			<!-- End Info Blokcs -->

		</div><!--/container-->
		<!-- End Content Part -->

		<!--=== Footer Version 1 ===-->
		<div class="footer-v5">
			<div class="footer">
				<div class="container">
					<div class="row">
						<!-- About -->
						<div class="col-md-3 md-margin-bottom-40">
							<a href="/centers"><img id="logo-footer" class="footer-logo" src="https://bfb89515afffff903eb7a381cf5e58e24a620c1b-www.googledrive.com/host/0B09DNIgcGom_b1hxS2JnYXBiWFk/Drawing.png" alt="Logo" height="50" width="100"></a>
              <p></p>
							<p>Daycare Playground is an online listing of all daycare and early learning centers in Chicago, IL. Parents can search daycare centers for their children with ease!</p>

						</div><!--/col-md-3-->
						<!-- End About -->

						<!-- Latest -->
						<div class="col-md-3 md-margin-bottom-40">
							<div class="posts">
								<div class="headline"><h2>Latest Posts</h2></div>
								<ul class="list-unstyled latest-list">
									<li>
										<a href="#">Incredible content</a>
										<small>May 8, 2014</small>
									</li>
									<li>
										<a href="#">Best shoots</a>
										<small>June 23, 2014</small>
									</li>
									<li>
										<a href="#">New Terms and Conditions</a>
										<small>September 15, 2014</small>
									</li>
								</ul>
							</div>
						</div><!--/col-md-3-->
						<!-- End Latest -->

						<!-- Link List -->
						<div class="col-md-3 md-margin-bottom-40">
							<div class="headline"><h2>Useful Links</h2></div>
							<ul class="list-unstyled link-list">
								<li><a href="#">About us</a><i class="fa fa-angle-right"></i></li>
								<li><a href="https://github.com/cesarmejia451">Portfolio</a><i class="fa fa-angle-right"></i></li>
								<li><a href="https://www.linkedin.com/in/cesar-mejia-3b16557a">LinkedIn</a><i class="fa fa-angle-right"></i></li>
								<li><a href="#">Community</a><i class="fa fa-angle-right"></i></li>
								<li><a href="mailto:cesarmejia451@gmail.com">Contact us</a><i class="fa fa-angle-right"></i></li>
							</ul>
						</div><!--/col-md-3-->
						<!-- End Link List -->

						<!-- Address -->
						<div class="col-md-3 map-img md-margin-bottom-40">
							<div class="headline"><h2>Contact Us</h2></div>
							<address class="md-margin-bottom-40">
								222 W Merchandise Mart Plaza,<br />
								Chicago, IL 60654 <br />
								Phone: 800 555 5555 <br />
								Email: <a href="mailto:cesarmejia451@gmail.com" class="">cesarmejia451@gmail.com</a>
							</address>
						</div><!--/col-md-3-->
						<!-- End Address -->
					</div>
				</div>
			</div><!--/footer-->

			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p>
								Daycare Playground by Cesar Mejia
							</p>
						</div>
					</div>
				</div>
			</div><!--/copyright-->
		</div>
		<!--=== End Footer Version 1 ===-->
	</div><!--/wrapper-->

	</body>
	</html>
